<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- spring 配置 begin-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 主配置文件, 其余模块配置文件在app-context.xml进行加载 -->
		<param-value>
			classpath:quartz/config/spring/app-context.xml,
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>quartz.listener.StartUpListener</listener-class>
	</listener>
</web-app>
